@font-face {
    font-family: "IndieFlower";
    src: url("Fonts/Indie_Flower/IndieFlower-Regular.ttf");
  }

header h1 {
    font-family: IndieFlower;
    margin-top: 30px;
}

h2 {
    font-family: IndieFlower;
}

.container-fluid * {
    justify-content:center;
    align-items: center;
}

header {
    background-color: #56CBF9;;
}

#headerimage {
    max-width: 100px;
    float: right;
}

.navbar-custom {
    background-color: #81F4E1;
}
footer {
    background-color: #56CBF9;
}
