@font-face {
    font-family: "IndieFlower";
    src: url("Fonts/Indie_Flower/IndieFlower-Regular.ttf");
  }

h1 {
    font-family: IndieFlower;
}

.navigaatiopalkki {
    position:absolute;
    left:0;
    margin-top: -100px;
    height: 87vh;
    width: 150px;
    overflow: hidden;
}

.navigaatiopalkki * {
    color:black;
    text-decoration: none;
    padding: 5px;
}
.list-unstyled li {
    padding-top:25px;
}