span {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: IndieFlower;
}
h3 {
    font-family: IndieFlower;
}

body {
    background-color: #81F4E1;
}
[class="col-md-6  mb-5 text-center"] {
    font-size: 1.5em;
    color: white;
    user-select: none;
}
[class="container border bg-grey bg-light"] {
    background-image:url(https://cdn.pixabay.com/photo/2015/09/03/05/52/green-background-920072_960_720.jpg);
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
}

input {
    background-color:black;
    opacity: 0.5;
    border-radius: 20%;
    color:White;
    font-family: IndieFlower;
}
/* Alempi koodi kopioitu oheiselta nettisivulta, poistamaan nuolet input type number laatikoista. -- >https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {   
  -webkit-appearance: none;
  margin: 0;
}

input:hover {
    border-color: rgb(0, 253, 63);
}
[class="mb-5 fonttivaihtoon text-center py-2"] {
    color: white;
    user-select: none;
}
button:hover {
    color: white;
    user-select: none;
}

[class="mb-5 fonttivaihtoon text-center"] {
    border-bottom: 1px solid;
    border-radius: 25%;
}

#vasemmalle {
    padding-right: 70px;
}