/* Google Font */
@font-face {
    font-family: "IndieFlower";
    src: url("../Fonts/Indie_Flower/IndieFlower-Regular.ttf");
}

/*Header*/
.container-fluid * {
    justify-content:center;
    align-items: center;
}

header {
    background-color: #56CBF9;
}

header h1 {
    font-family: IndieFlower;
    margin-top: 30px;
}

#headerimage {
    max-width: 100px;
    float: right;
}

/*Navbar*/
.navbar-custom {
    background-color: #81F4E1;
}

/*container*/
h2 {
    font-family: IndieFlower;
}

[class*="col-md"] { 
    padding: 20px;
}

.btn {
    background-color: #81F4E1;
    border: 2px solid #AB9FCC;
}

#rewards img {
    max-width: 100px;
}

[id*="false"] {
    color: #8F002B;
}

/*Footer*/
footer {
    background-color: #56CBF9;
    padding: 20px;
}