/* Google Font */
@font-face {
    font-family: "IndieFlower";
    src: url("../Fonts/Indie_Flower/IndieFlower-Regular.ttf");
}

/*Header*/
.container-fluid * {
    justify-content:center;
    align-items: center;
}

header {
    background-color: #56CBF9;
}

header h1 {
    font-family: IndieFlower;
    margin-top: 30px;
}

#headerimage {
    max-width: 100px;
    float: right;
}

/*Navbar*/
.navbar-custom {
    background-color: #81F4E1;
}

h2 {
    font-family: IndieFlower;
    margin-top: 30px;
}

[class*="col"] {
    border: 2px solid black;
}

.btn {
    background-color: #81F4E1;
    border: 2px solid #C841BA;
}

/*Footer*/
footer {
    background-color: #56CBF9;
}