/* Milla Tuppurainen */

/*Google Font*/
@font-face {
    font-family: "IndieFlower";
    src: url("../Fonts/Indie_Flower/IndieFlower-Regular.ttf");
  }

/*Header*/
header {
    background-color: #56CBF9;
}

header h1 {
    font-family: IndieFlower;
    margin-top: 30px;
}

#headerimage {
    max-width: 100px;
    float: right;
    margin-right: 20px;
}

/*Navbar*/
.navbar-custom {
    background-color: #81F4E1;
}

.container-fluid * {
    justify-content:center;
    align-items: center;
}

/*Instructions*/
.col h1, h2 {
    font-family: IndieFlower;
    margin: 5px;
}

#firstCol {
    background-image: url("englanti_Images/union-jack.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
    background-blend-mode: lighten;
    margin: 20px;
    font-size: 20px;
}

#firstCol li {
    list-style-type: circle;
}

/*Questions*/
h5 {
    margin-bottom: 15px;
}

#question {
    background-image: linear-gradient(#FF3374, white);
    font-weight: bold;
    padding: 10px;
}

/*Radio-buttons and their text*/
.form-check-input {
    border: solid #FF3374;
}

/*Argument-field*/
[id*="argument"] {
    visibility: hidden;
    margin: 10px;
    padding: 5px;
    border: solid #81F4E1;
    min-height: 50px;
    background-image: linear-gradient(#81F4E1, white);
}

/*Amount of answered questions-field*/
#answeredQuestions {
    visibility: hidden;
    border: solid #FF3374;
    padding: 5px;
    margin-top: 10px;
}

/*Points*/
#engbutton {
    background-color: #8F002B;
    border-color: #FF3374;
    margin: 10px;
}

#results {
    visibility: hidden;
    border: solid #FF3374;
    padding: 5px;
    margin-top: 10px;
}

/*Bonusquestion*/
#bonusHeader {
    font-family: IndieFlower;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bonusbutton {
    background-color: #8F002B;
    border-color: #FF3374;
    margin: 10px;
}

#bonusresult {
    padding-bottom: 5px;
    margin-top: 10px;
    font-style: oblique;
    font-size: 1.5em;
}

#image {
    position: relative;
    text-align: center;
    color: white;
  }

#bigben {
    max-width: 600px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

/*Footer*/
footer {
    background-color: #56CBF9;
    padding: 20px;
    font-size: 0.75em;
}